<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^start\.js$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /start.js [L]
  RewriteRule ^/?(.*)$ http://127.0.0.1:5800/$1 [P,L]
</IfModule>

## DO NOT REMOVE. PARSWEBSERVER DEVELOPER CONFIGURATION BEGIN
#RewriteEngine On
#RewriteRule ^/?(.*)$ http://127.0.0.1:5800/$1 [P,L]
## DO NOT REMOVE. PARSWEBSERVER DEVELOPER CONFIGURATION END
